body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    background-color: black;
}

#startScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}
